# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log path
log/
pikatests/
lib/
tools/
output/

# third party
gdb.txt
tags

# IDEs
.project
.cproject
.settings/

# test
test/pika/
test/pika-on-terarkdb/
test/*.result

# dbs
pika-without-terarkdb/
pika-on-terarkdb/

#unmodified submodules
third/pink
third/glog

